@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Source+Sans+Pro&display=swap');

*,
html,
body {
  font-family: 'Source Sans Pro', sans-serif;
}

.text-center {
  text-align: center !important;
}

.code-area {
  font-size: 13px;
  font-family: 'Fira Mono', monospace;
}

.card-highlighted {
  border: 1px dashed rgba(116, 213, 243, 0.429);
  box-shadow: 0 0 10px rgba(116, 213, 243, 0.329);
}
.toolbar-btn {
  margin-left: 4px;
}

.toolbar-affixed-true .toolbar-btn {
  box-shadow: 0px 15px 20px rgba(50, 42, 59, 0.1);
}
